/* Scoreboard container at the bottom */
html, body {
  height: 100%;
  margin: 0;
}
.scoreboard-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: 10%; */
  background-color: #333;
  color: white;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 6;
}

/* Button to add new player */
.add-player-btn {
  padding: 8px 16px;
  background-color: #FF6F61;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 6px;
  border-radius: 3px;
}

/* Container for player list */
.player-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;  /* Space between players */
}

/* Styling for each player container */
.player-container {
  padding: 6px;
  background-color: #f9f9f9;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 160px;  /* Make it more horizontal */
  height: 60px;  /* Reduce height */
  margin-bottom: 24px;
  text-align: center;
}

/* Input styling for name and score */
.player-container input {
  font-size: 16px;
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
}

/* Styling for the delete button */
.player-container button {
  padding: 4px 8px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 5px;
  width: 100%;
}
